@charset "UTF-8";

body {
    background: rgba(70, 142, 236, 0.437);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: black;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-variant-caps: all-small-caps;
}

input {
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
}

section {
    background: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

input[type="button"] {    
    border-radius: 5px;
    opacity: 0.5;
    text-align: center;
    line-height: 25px;    
    color: white;
    background-color: green;
    font-size: 1.5em;
}

footer {
    color: black;
    text-align: center;
    font-size: 0.9em;
}